.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5vh;
  font-size: 3vh;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  padding: 1.5%;
  justify-content: space-between;
}
